/* Footer styles start here */
footer {
    background-color: rgb(45, 41, 41);
}

footer p {
    font-size: 1rem;
    font-family: 'Abel', sans-serif;
    color: #e2e2e2;
    padding: 20px 0;
    margin: 0;
}

footer a {
    color: rgb(255, 215, 0);
    text-decoration: none;
}

footer a:visited {
    color: rgb(255, 215, 0);
}