/* Form styles start here */
form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(assets/greyBackground.png); /* Background image from https://www.toptal.com/designers/subtlepatterns/grey-jean/ */
    background-size: auto;
    background-position: center center;
}

h2 {
    background-color: rgba(255,255,255,0.5);
    padding: 20px 0;
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: 8px;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.options {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gold {
    border: 3px groove rgb(255, 215, 0);
    background-image: linear-gradient(to bottom right, #c6821d, #f6e67f, #c6821d);
    font-family: 'Abril Fatface', cursive;
    font-size: 1.2rem;
    padding: 5px;
    margin: 10px;
    width: calc((100% - 40px) / 2);
    height: 80px;
    transform: translateY(0);
    transition: transform 0.15s ease-in-out;
    position: relative;
}

.gold:active {
    transform: translateY(4px);
}

/* This is for a shine effect on the buttons, code largely inspired by https://codepen.io/fishtoyo/pen/VYQVQx */
.gold:after {
	content: '';
	position: absolute;
    top: 0;
    left: 0;
	width: 0;
	height: 100%;
    background-color: rgba(255,255,255,0.7);
}

.gold:hover:after {
    width: 100%;
    background-color: rgba(255,255,255,0);
	-webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	transition: all 0.75s ease-in-out;
}

.gold:focus {
    border: 3px groove grey;
}

@media (min-width: 750px) {
    .options {
        width: 75%;
        max-width: 800px;
        margin: 0 auto;
    }
}