form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
}

form button {
    padding: 10px;
    border: 3px ridge rgb(255, 215, 0);
    width: 45%;
    margin-bottom: 10px;
    background-color: rgba(255, 215, 0, 0.5);
}

form button:nth-child(2n+1) {
    margin-right: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}