form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
    /* background-image: linear-gradient(to top, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/hogwartsHallway.jpg); */
    /* background-size: cover; */
    /* background-position: center center; */
}

h2 {
    background-color: rgba(255,255,255,0.5);
    padding: 20px 0;
    margin: 0;
    font-size: 1.8rem;
}

form a {
    padding: 0;
    border: 3px ridge rgb(255, 215, 0);
    width: calc((100% - 40px) / 2);
    margin: 10px;
    background-color: rgba(255, 215, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

form button {
    width: 100%;
    padding: 5px;
    border: 0;
    height: 80px;
    background-color: rgba(255, 215, 0);
    font-family: 'Abril Fatface', cursive;
    font-size: 1.2rem;
}

.options {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}