/* Setup and visuallyHidden snippets are from the class notes */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* Global styles start here */
body {
    font-size: 125%;
    font-family: 'Abril Fatface', cursive;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

p {
    padding: 0;
    margin: 0;
}

/* Header styles start here */
header {
    min-height: 100vh;
    letter-spacing: 8px;
    background-image: url(./assets/potterGlasses.jpg); /* Photo by Larm Rmah on Unsplash */
    background-size: cover;
    background-position: center center;
    padding: 1px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 20px 0;
    margin: 0;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    font-size: 2rem;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

header p {
    background-color: rgba(255,255,255,0.5);
    font-size: 1.4rem;
    width: 100%;
    padding: 20px 0;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.fa-bolt {
    font-size: 2rem;
    animation: flash 1.5s infinite;
    width: 75px;
    padding: 10px 0 10px 10px;
}

header button {
    margin-top: 65px;
    background-color: transparent;
    border: none;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

header button:active {
    transform: scale(1.2);
}

header button:focus .fa-bolt {
    border: 2px dotted orange;
    border-radius: 15px;
}

@keyframes flash {
    0% {
        color: rgba(255,255,255,0.5);
    }
    
    50% {
        color: rgba(255, 215, 0, 0.8);
        transform: scale(1.4);
    }
    100% {
        color: rgba(255,255,255,0.5);
    }
}