/* Results section styles start here */
.results {
    min-height: 75vh;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(assets/magicWand.jpg); /* Photo by Emy Girard on Unsplash */
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results h2 {
    background-color: transparent;
    padding: 0;
}

.resultsBox {
    background-color: rgba(255,255,255,0.5);
    padding: 20px 0;
}

.randomSpellName {
    font-size: 2.2rem;
    padding-top: 40px;
    margin: 0;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.randomSpellEffect {
    font-size: 1rem;
    animation: fade-in 0.5s linear;
    padding: 20px 0 40px 0;
}

.results h3 {
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    letter-spacing: 3px;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.results button {
    width: 60%;
    max-width: 215px;
    height: 69px;
    border: 3px ridge rgb(255, 215, 0);
    transform: translateY(0);
    transition: transform 0.15s ease-in-out;
}

.results button:active {
    transform: translateY(4px);
}

.results button:focus {
    border: 3px groove grey;
}

.results .newPlace {
    margin-top: 20px;
}

@media (min-width: 750px) {
    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
    }

    .links > * {
        width: 38%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .results .newPlace {
        margin: 0;
    }

    .results .newPlace button {
        width: 100%;
    }
}